<div class="radio col-lg-12 recepiente">
    <div class="col-lg-12 text-center cabecalho_radio">
        <div class="logo">
            <h2>Procedimentos:</h2>
        </div>
    </div>
    <div class="col-lg-12 procedimentos">
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/CD">
                <div class="col-lg-7">
                    <h4>CD</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/cargo-truck.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/CEASA">
                <div class="col-lg-7">
                    <h4>CEASA</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/harvest.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/CIAL">
                <div class="col-lg-7">
                    <h4>CIAL</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/cargo-truck.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/CONT">
                <div class="col-lg-7">
                    <h4>CONTROLADORIA</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/graph-analysis.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/FINAN">
                <div class="col-lg-7">
                    <h4>FINANCEIRO</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/financeiro.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/FRENTE-CAIXA">
                <div class="col-lg-7">
                    <h4>FRENTE DE CAIXA</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/frente-caixa.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/INFO">
                <div class="col-lg-7">
                    <h4>INFORMATICA</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/computer-configuration.png">

                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/OPER">
                <div class="col-lg-7">
                    <h4>OPERACIONAL</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/settings-gears.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/REUNIOES">
                <div class="col-lg-7">
                    <h4>REUNIOES</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/conference-hall.png">
                </div>
            </a>
        </div>
        <div class="col-lg-3 procedimento">
            <a href="/procedimentos/RH">
                <div class="col-lg-7">
                    <h4>RH</h4>
                </div>
                <div class="col-md-5 text-right">
                    <img src="assets/procedimentos/team.png">
                </div>
            </a>
        </div>
    </div>
</div>