.radio{
    background-color: #4b4b4d;
    margin-top: 0px;
}

.logo{
    padding: 20px;
    color: white;
}

.linkRadio{
    margin: 10px;
    width: 90%;
}

.linkRadio:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 1s;
    color: white;
}
